<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>report</title>
</head>
<body>

<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item" >
            <span class="badge">{{ object }}</span>
            {% for test in test %}

                <a href="/report?sd={{ test.id }}&sp={{ test.title }}" name="title" type="submit">
                <h1>
                    {{ test.title }}
                </h1>
            {% endfor %}

        </li>
    </ul>

</div>

<div class="col-md-4">

<h3>{{ time }}</h3>

</div>


</body>
</html>