<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>report</title>
</head>
<body>

<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item" >
        <h1>{{ object }}</h1>
            <span class="badge">{{ object }}</span>
{#            {% for test in test %}#}
{##}
{#                <a href="/report?sd={{ test.id }}&sp={{ test.title }}" name="title" type="submit">#}
{#                <h1>#}
{#                    {{ test.title }}#}
{#                </h1>#}
{#            {% endfor %}#}

        </li>
    </ul>

</div>

<div class="col-md-4">

<h3>{{ time }}</h3>

</div>

<pre>
    2.2 TCP/IP Teminology
The actual name of a unit of data that flows through an internet
depends on in which layer it exists in the protocol stack. Here are
some rough definitions:
</pre>
<div>
        <button class="btn btn-success" ><a style=""  href="all">all</a></button>
</div>
</body>
</html>